{% extends "registration/base_registration.html" %}


{% block pagetitle %}Log in{% endblock %}


{% block content_title %}
  <h2>Log in</h2>
{% endblock %}


{% block content %}
	<h2>Login to {{ sitename }}</h2>
	<p>If you don't have a user account here, then <a href="{% url registration_register %}">signup</a> - it takes less than a minute.</p>
  <form action="." method="post" class="login_form">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="submit" value="Login" class="button">
    {% if next %}
    	<input type="hidden" name="next" value="{{ next }}">
    {% else %}
    	<input type="hidden" name="next" value="{% url user_profile %}">
    {% endif %}
  </form>
{% endblock %}