{% extends "base.html" %}

{% block pagetitle %}{{ question.question }}{% endblock %}

{% block extracss %}
<style type="text/css">
p.small {color: #666;}
ul#answerlist {
  list-style-type: none;	
}

ul#answerlist li {
  margin-bottom: 20px;	
}

form {margin-top: 10px; width: 800px; float: left; padding: 20px 20px 0px 20px; background-color: #e1e1e1; margin-bottom: 30px;}
label {float: right; margin-left: 20px;}
textarea {float: left; margin: 0 20px 20px 0;}
input.button {width: 200px;}
p.note {
  margin-top: 0;	
}

</style>
{% endblock %}

{% block addbutton %}
<a class="button" href="{% url add_question %}">Add Question</a>
{% endblock %}

{% block content %}

<h2>{{ question.question }}</h2>
<p class="small">Added by <a href="{% url profile question.owner.user.username %}">{{ question.owner.user.username }}</a> {{ question.date|timesince }} ago</p>
<p class="description"><em>{{ question.description }}</em></p>


{% if request.user.is_authenticated %}
<form action="." method="post">
{% csrf_token %}
<textarea id="id_answer" rows="5" cols="40" name="answer"></textarea>
<p class="note"><strong>&laquo; Add your answer</strong><br/>Please try to give as much information as you can and answer clearly.</p>
<input type="submit" value="Submit answer" class="button">
</form>
{% else %}
<p><a href="{% url auth_login %}">Login</a> or <a href="{% url registration_register %}">signup</a> to post an answer</p>
{% endif %}



{% if answers %}
<h3>Answers ({{ answers.count }})</h3>
<ul id="answerlist">
{% for answer in answers %}
	<li class="">
		<p>
			{{ answer.answer }}<br/>
			<strong>Answered by <a href="{% url profile answer.owner.user.username %}">{{ answer.owner.user.username }}</a></strong>
		</p>	
	</li>
{% endfor %}

{% else %}
{% endif %}


{% endblock %}
