{% extends "base.html" %}

{% load django_static %}

{% block pagetitle %}Questions{% endblock %}

{% block extracss %}
<style type="text/css">

</style>
{% endblock %}

{% block addbutton %}
<a class="button" href="{% url add_question %}">Add Question</a>
{% endblock %}

{% block content %}

{% include "snippets/search_bar.html" %}

<ol id="newslist">
{% for q in questions %}
	<li>
		<a href="{% url question q.slug %}">{{ q.question }}</a><br/>
		<span class="small">

			<a href="{% url profile q.owner.user.username %}">Added by {{ q.owner }}</a> - 
			{% if q.answers_count %}
				<a href="{% url question q.slug %}">{{ q.answers_count }} answer{{ q.answers_count|pluralize }}</a> - 
			{% else %}
				<a href="">Add an answer</a> - 
			{% endif %}
			{{ q.date|timesince }} ago
		
		
	</span>
	</li>
{% endfor %}
</ol>

{% endblock %}