{% extends "base.html" %}

{% load django_static %}

{% block pagetitle %}Questions{% endblock %}

{% block extracss %}
<style type="text/css">
.ding a:link, .ding a:visited {
    background-color: #e1e1e1;
    color: #666;
    display: block;
    float: left;
    font-weight: 900;
    height: 8px;
    margin-right: 5px;
    padding: 0 4px 7px;
    position: relative;
    top: 2px;
    width: 7px;
}

.ding a:hover {
  background-color: #D95700;
  color: #fff;
  text-decoration: none;
}
</style>
{% endblock %}

{% block addbutton %}
<a class="button" href="{% url add_question %}">Add Question</a>
{% endblock %}

{% block content %}

<ol id="newslist">
{% for q in questions %}
	<li>
		<a href="{% url question q.slug %}">{{ q.question }}</a><br/>
		<span class="small">
			{% if request.user.get_profile in q.voters.all %}{% else %}
			<span class="ding"><a href="">^</a></span>
			{% endif %}
			<span class="votes">{{ q.votes }} point{{ q.votes|pluralize }}</span> -
			<a href="{% url profile q.owner.user.username %}">{{ q.owner }}</a> - 
			{% if q.answers_count %}
				<a href="{% url question q.slug %}">{{ q.answers_count }} answer{{ q.answers_count|pluralize }}</a> - 
			{% else %}
				<a href="">Add an answer</a> - 
			{% endif %}
			{{ q.date|timesince }} ago
		
		
	</span>
	</li>
{% endfor %}
</ol>

{% endblock %}