{% extends "base.html" %}

{% load django_static %}

{% block pagetitle %}Home{% endblock %}

{% block extracss %}
<style type="text/css">
.block {
  background-color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0 1px 3px #999;
  padding: 15px 20px;
  float: left;
  width:200px;	
  border: 10px solid #f1f1f1;
  margin-right: 20px;
}

.block h2 {
  margin: 0;	
}

.block p {
  margin: 0;	
}

p.super-large {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #666;
}
</style>
{% endblock %}

{% block content %}

<p class="super-large">News, questions and answers covering the whole of China.</p>

<div class="block">
	<h2><a href="{% url news_home %}">News</a></h2>
	<p>Latest news from all news sources across China</p>
</div>

<div class="block">
	<h2><a href="{% url questions_home %}">Questions</a></h2>
	<p>Ask questions about China, get answers</p>
</div>
{% endblock %}