{% extends "base.html" %}

{% load comments %}

{% block pagetitle %}{{ news_item.title }}{% endblock %}


{% block extrajs %}

<script type="text/javascript" charset="utf-8">  
function upVote(id) {    
  	$('.' + id).css('display', 'none');
  	$.ajax({
  		type: "GET",
  		url: '{% url news_ding_ajax %}',
  		data: "xhr=true&id=" + id,	
	    success: function(data) {
	    	$('span.number').replaceWith(data);	
	    }
	});
	return false;
}

$('#comment_form').submit(function() {
	$('#submit_comment').css('opacity', '0.5');
	$('#submit_comment').unbind('click');
});
</script>  

{% endblock %}


{% block extracss %}
<style type="text/css">
input.hidden, input#id_honeypot, input#id_timestamp, input#id_content_type, input#id_object_pk {
  display: none;	
}

form {margin-top: 20px; width: 900px; float: left;}
label {float: right; margin-left: 20px;}
textarea {float: left; margin: 0 20px 20px 0;}
input.button {width: 200px;}

ul#comment-list {
  float: left;
  margin: 50px 0 0 0;
  padding: 30px 0 0 0;
  border-top: 3px dotted #e1e1e1;
  list-style-type: none;
  margin-bottom: 50px;	
}

ul#comment-list li {
  font-size: 14px;
  line-height: 1.5em;
  color: #333;	
  margin-bottom: 20px;
}

ul#comment-list li .meta {
  color: #666;
  font-size: 12px;
  font-weight: bold;	
}

ul.sublist {
  margin-left: 40px;
  margin-bottom: 40px;
  list-style-type: none;
  font-size: 14px;
}

ul.sublist li {
  margin: 20px 0 10px 0;	
}

.ding a:link, .ding a:visited {
    background-color: #e1e1e1;
    color: #666;
    display: block;
    float: left;
    font-weight: 900;
    height: 12px;
    margin-right: 5px;
    padding: 2px 4px 7px;
    position: relative;
    top: 0px;
    width: 9px;
}

.ding a:hover {
  background-color: #D95700;
  color: #fff;
  text-decoration: none;
}

ul#comment-list .ding a:link {
  width: 6px;	
  height: 10px;
  padding-top: 1px;
  top: 1px;
}

p.note {
  margin-top: 0;	
}

span.blocked, .blocked {
  color: #999;
  font-size: 12px;
  float: right;	
  position: relative;
  top: -3px;
}

span.blocked .ding {
    background-color: #e1e1e1;
    color: #666;
    font-weight: 900;
    height: 13px;
    float: left;
    margin-right: 5px;
    padding: 0px 4px 4px;
    position: relative;
    top: 2px;
    width: 7px;	
}

span.blocked a.ding:hover {
  background-color: #D95700;
  color: #fff;
  text-decoration: none;	
}

.small {
  font-size: 0.8em;
  color: #666;	
}

</style>
{% endblock %}

{% block addbutton %}
<a class="button" href="{% url add_news %}">Add News</a>
{% endblock %}

{% block content %}


<h2>{{ news_item.title }}</h2>
	<p class="">
		{% if request.user.is_authenticated %}
		{% if request.user.get_profile in news_item.voters.all %}{% else %}
			<span class="ding {{ news_item.id }}"><a href="#" onclick="upVote({{ news_item.id }})">^</a></span>
		{% endif %}
		{% endif %}
		<span class="grey"><span class="number">{{ news_item.votes }}</span> point{{ news_item.votes|pluralize }} - </span>
		
		
		<a href="{{ news_item.url }}">{{ news_item.url }}</a> 
		<span class="blocked">
		{% if news_item.is_blocked %}
			{{ news_item.blocked }} user{{ news_item.blocked|pluralize }} reported this URL is blocked in China
			<a title="Is this website censored for users in China by the Great Firewall?" class="ding" href="{% url news_blocked news_item.hashkey %}">^<a/>
		{% else %}
			Is this item blocked in China?
			<a title="Is this website censored for users in China by the Great Firewall?" class="ding" href="{% url news_blocked news_item.hashkey %}">^</a>
		{% endif %}
		</span>
	</p>



{% if news_item.text %}<p>{{ news_item.text }}</p>{% endif %}

{% if request.user.is_authenticated %}
	{% get_comment_form for news_item as form %}
	<form id="comment_form" action="{% comment_form_target %}" method="post">
	{% csrf_token %}
	
	<textarea id="id_comment" rows="5" cols="30" name="comment"></textarea>
	<p class="note"><strong>&laquo; Add your comment</strong><br/>Please stick to the guidelines, no trolling, flaming or racist language please.</p>
	<input class="hidden" id="id_name" type="text" value="{{ request.user.get_profile.user.username }}" name="name" maxlength="50" />
	<input class="hidden" type="text" name="email" id="id_email" value="{{ request.user.get_profile.email }}" />
	<input class="hidden" type="text" name="url" id="id_url" value="{{ siteurl }}" />
	{{ form.honeypot }}
	{{ form.content_type }}
	{{ form.object_pk }}
	{{ form.timestamp }}
	{{ form.security_hash }}
	<input type="hidden" class="hidden" name="next" value="{% url news_item news_item.hashkey %}" />
	
	<input id="submit-comment" type="submit" value="Submit" class="button">
	
	</form>
{% else %}
	<p>
		<strong><a href="{% url auth_login %}">Login</a> or <a href="{% url registration_register %}">signup</a> to post comments</strong>
	</p>
{% endif %}

{% get_comment_list for news_item as comment_list %}
<ul id="comment-list">
	{% for comment in comment_list %}
		<li>
			{{ comment.comment }}<br/>
			<span class="small">
				{% if request.user.get_profile in comment.voters.all %}{% else %}
					<span class="ding"><a href="{% url comment_ding comment.id %}">^</a></span>
				{% endif %}
				<span class="votes">{{ comment.votes }} point{{ comment.votes|pluralize }}</span> -
				<a href="{% url profile comment.user_name %}">{{ comment.user_name }}</a> - 
				{{ comment.submit_date|timesince }} ago
				{% if request.user.is_authenticated %}
				 - <a href="{% url comment_reply news_item.hashkey comment.pk %}">Reply</a>
				{% endif %}
			</span>
		
		{% get_comment_list for comment as 2_comment_list %}
		{% if 2_comment_list %}
		<ul class="sublist">
		{% for comment in 2_comment_list %}
			<li>
				{{ comment.comment }}<br/>
				<span class="small">
					{% if request.user.get_profile in comment.voters.all %}{% else %}
					<span class="ding"><a href="{% url comment_ding comment.id %}">^</a></span>
					{% endif %}
					<span class="votes">{{ comment.votes }} point{{ comment.votes|pluralize }}</span> -
					<a href="{% url profile comment.user_name %}">{{ comment.user_name }}</a> - 
					{{ comment.submit_date|timesince }} ago
				</span>
			</li>
		{% endfor %}
		</ul>
		{% endif %}
		</li>
	{% endfor %}
</ul>

{% endblock %}