{% extends "base.html" %}

{% load django_static comments %}

{% block pagetitle %}News{% endblock %}

{% block extrajs %}

<script type="text/javascript" charset="utf-8">  
function upVote(id) {    
  	$('li#' + id + ' .ding').css('display', 'none');
  	$.ajax({
  		type: "GET",
  		url: '{% url news_ding_ajax %}',
  		data: "xhr=true&id=" + id,	
	    success: function(data) {
	    	$('li#' + id + ' .number').replaceWith(data);	
	    }
	});
	return false;
}

$('#seen_reminder').click(function() {
	$('#voting').fadeOut(600);
	$('#newslist').unbind();
	$.ajax({
      type: "GET",
	  url: '{% url seen_voting_reminder %}',
	  data: "xhr=true"
	});
});

{% if request.user.get_profile.seen_voting_reminder %}{% else %}
$('#newslist').hover(function() {
	$('#voting').fadeIn(700);
});
{% endif %}

</script>  

{% endblock %}



{% block extracss %}
<style type="text/css">
span.votes {font-weight: bold; color: #666;}

.ding a:link, .ding a:visited, #voting span.ding {
    background-color: #e1e1e1;
    color: #666;
    display: block;
    float: left;
    font-weight: 900;
    height: 8px;
    margin-right: 5px;
    padding: 0 4px 7px;
    position: relative;
    top: 2px;
    width: 7px;
}

.ding a:hover {
  background-color: #D95700;
  color: #fff;
  text-decoration: none;
}

img.blocked {
  position: relative;
  top: 1px;
  left: 5px;	
}

span.url {
  font-size: 11px;
  font-weight: bold;	
}

#voting {
  display: none;	
}

#voting #seen_reminder {
  color: #226d28;	
  font-size: 11px;
}

#voting #seen_reminder:hover {
  cursor: pointer;
  text-decoration: underline;	
}

#rss {
  position: absolute;
  top: 0px;
  right: 0;
  background-color: #fff;
  padding: 5px 5px 5px 10px;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-left: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;	
  border-radius: 4px;
  font-size: 11px;
  font-weight: bold;
}

#rss img {
  float: right;	
}

#rss span {
  position: relative;
  top: 6px;
  margin-right: 5px;	
}

#rss a {
  color: #333;	
}

</style>
{% endblock %}

{% block addbutton %}
<a class="button" href="{% url add_news %}">Add News</a>
{% endblock %}

{% block content %}

<div id="rss">
<a href="/feeds/latest/"><span>Latest stories by RSS</span> <img src="/images/rss.png"/></a>
</div>

<div class="reminder" id="voting">
<h4>Vote for the stories you like!</h4>
<p><span class="ding">^</span> Ding the stories you like - they will stay on the homepage longer and other people are more likely to see them.</p>
<p>
<span id="seen_reminder">Don't show this again</span>
</p>
</div>


<ol id="newslist">
{% for n in news %}
<li id="{{ n.id }}">
	{% if n.url %}<a href="{{ n.url }}">{{ n }}</a>{% else %}{{ n }}{% endif %}
		
		{% if n.is_blocked %}
		<img title="This website might be blocked by the Great Firewall" class="blocked" src="{% staticfile '/images/fire.png' %}">
		{% endif %}
	
	<br/>
	<span class="small">
		{% if request.user.is_authenticated %}
		{% if request.user.get_profile in n.voters.all %}{% else %}
			<span class="ding"><a href="#" onclick="upVote({{ n.id }})">^</a></span>
		{% endif %}
		{% endif %}
		<span class="votes"><span class="number">{{ n.votes }}</span> point{{ n.votes|pluralize }}</span> -
		<a href="{% url profile n.owner.user.username %}">{{ n.owner }}</a> - 
		{% get_comment_count for n as comments_count %}
		{% if comments_count %}
		<a href="{% url news_item n.hashkey %}">{{ comments_count }} comment{{ comments_count|pluralize }}</a> - 
		{% else %}
		<a href="{% url news_item n.hashkey %}">Discuss</a> - 
		{% endif %}
		<span class="url">{{ n.show_url }}</span>
		
		
		
	</span>
</li>
{% endfor %}
</ol>


{% endblock %}