{% extends "base.html" %}

{% block metadescription %}Add a question for Laowai to answer{% endblock %}
{% block pagetitle %}Add a question{% endblock %}

{% block extracss %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}

<h1>Add a question</h1>

<p>Ask any question you need to know - please try to be as descriptive as possible to get a good response.<br/> Remember any profanity, racist language or otherwise offensive questions will be removed.</p>

{% if form.errors %}
<p class="error">You must add a title for the question!</p>
{% endif %}


<form action="." method="post">
	<div style='display:none;'>{% csrf_token %}</div>
	{{ form.as_p }}
	

	<input type="submit" value="Submit question" class="button">
	</form>




{% endblock %}
