{% extends "base.html" %}

{% load django_static %}


{% block pagetitle %}404 - Page Not Found{% endblock %}

{% block content %}

<div id="banner">
  <div class="super">
    <h1>Page not found - 404</h1>
  </div>
</div>

<div id="main-text-wide">
  <div class="super">
	<p class="subtitle">We can't find the page you're looking for! Perhaps it was mistyped, has moved, or doesn't exist anymore.</p>
	
	<p> <a href="{{ siteurl }}">&laquo; Go back to the homepage</a></p>

  </div>
</div>



{% endblock %}