{% extends "base.html" %}

{% load django_static %}

{% block pagetitle %}Add news{% endblock %}

{% block extracss %}
<style type="text/css">
label {
  text-align: right;
  padding-right: 20px;
  line-height: 1em;	
}

label.optional {
   top: 8px;	
}

label span.optional {
  color: #666;	
}

label span.help {
  font-size: 11px;
  color: #666;	
  font-weight: normal;
}
</style>
{% endblock %}

{% block content %}

<p>You can just add a URL (ie. if you're linking to another site) or add just text if it's a discussion. Either way, you have to add a title.</p>

<form action="." method="post">
{% csrf_token %}
<p>
	<label for="id_title">* Title:</label>
	<input type="text" name="title" id="id_title" />
</p>
<p>
	<label class="optional" for="id_url"><span class="optional">URL:</span><br/><span class="help">Use this to post a link</span></label>
	
	<input type="text" name="url" id="id_url" />
</p>
<p> 	
	<label class="optional" for="id_text"><span class="optional">Text:<br/><span class="help">Use this to start a discussion</span></span></label>
	
	<textarea id="id_text" rows="10" cols="40" name="text"></textarea> 
</p>

<input class="button" type="submit" value="Submit">
</form>

{% endblock %}