{% extends "base.html" %}

{% load django_static %}

{% block pagetitle %}{{ person.user.username }}'s profile{% endblock %}

{% block content %}

<h1>{{ person }}</h1>

<p>{{ person.bio|urlize }}</p>

<p><strong>Date joined:</strong> {{ person.date_joined|date:"M Y" }}</p>

<p><strong>Karma:</strong> {{ person.karma }} point{{ person.karma|pluralize }}</p>

{% if request.user.is_authenticated %}
	{% ifequal request.user.get_profile person %}
		<p><a href="{% url auth_logout %}">Logout</a></p>
		<p><a href="{% url edit_bio %}">Edit your bio</a></p>
	{% endifequal %}
{% endif %}

<p><strong>{% ifequal person request.user.get_profile %}Your{% else %}{{ person }}'s{% endifequal %} posts (latest 5) - <a href="{% url all_posts person.user.username %}">See all</a></strong></p>
<ul>
{% for p in person.get_latest_posts %}
	<li><a href="{% url news_item p.hashkey %}">{{ p.title }}</a></li>
{% endfor %}
</ul>
{% endblock %}